@import "tailwindcss";

#header.focused {
  @apply text-gray-600;
}
#input.focused {
  @apply text-gray-600 shadow-lg;
}
#list.focused {
  @apply text-gray-600;
}

@keyframes fadeup {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
